body{
    background-color: rgb(46, 45, 45)
}
.fullbox{
    display: flex;
    justify-content: center;
    border-radius: 2px;
}
.boxe{
    display :flex;
    justify-content: center;
    border:2px solid aquamarine;
    width:300px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aquamarine;
    margin-top:20px
}
.event1{
    display:flex;
    justify-content: center;
}

.box{
    
    padding:30px 10px;
    
}
.smallbox{
    text-align: center;
    background-color: rgb(124, 219, 236);
    border-radius: 5px;
     margin:25px 0px;
     padding:10px 10px
}
img{
    border:2px dotted black;
    border-radius: 5px;
    height:70px;
    width:70px;
}
.gridy{
display:flex;
justify-content: center;

}
p{
    margin: 0px;
}

button{
    margin-bottom: 10px;
    text-shadow:1px 1px 2px black;
    border:none;
    border-radius: 5px;
}

button:hover{
    background-color: blue;
    color: aliceblue;
    transition: ease-in-out 0.3s
}

